body {
  font-size: 18px;
  line-height: 1.4;
  background: #f3f3f3;
  /*Keep everything centred*/
  margin: 0 auto;
  /*Define the max width of the body content*/
  max-width: 1140px;
  /*Make the body content take up 90% of the viewport width*/
  width: 90vw;
  font-family: 'Gentium Basic', serif;
}

main {
  /*Make it relative so it sits below the header*/
  position: relative;
  /*And offset it so it isn't covered by the header*/
  top: 185px;
}

header {
  /*Give the header 2 fixed size rows*/
  grid-template-rows: 80px 50px;
  /*Fix it to the top of the window*/
  position: fixed;
  /*And hack in the widths again because without this, and with the position:fixed,
    it all goes to hell*/
  max-width: 1140px;
  width: 90vw;
  /*Give it its own background so it's solid when the rest of the page scrolls over it*/
  background: #f3f3f3;
  /*Move it off the very top of the page*/
  padding-top: 20px;
  padding-bottom: 10px;
  z-index: 100;
  border-bottom: 1px dotted lightgrey;
}

h1 {
  grid-column: 2 / span 6;
  font-size: 2em;
  border-bottom: 2px solid black;
}

h1.left-border-fillin {
  grid-column: 1 / span 1;
  border-bottom: 2px solid black;
}

h2.left {
  grid-column: 2 / span 3;
  font-size: 1.4em;
  border-bottom: 1px dotted grey;
  margin-right: 10px;
}

h2.right {
  grid-column: 5 / span 3;
  font-size: 1.4em;
  border-bottom: 1px dotted grey;
  margin-left: 10px;
}

abbr {
  border-bottom: 1px dashed lightgrey;
}

a:link {
  border-bottom: 2px solid gainsboro;
  text-decoration: none;
  color: black;
}

a:visited {
  border-bottom: 1px dotted gainsboro;
  text-decoration: none;
  color: black;
}

a:focus {

}

a:hover {
  border-bottom: 3px solid darkslategray;
  text-decoration: none;
}

a:active {
  border-bottom: none;
  text-decoration: none;
  color: #f3f3f3;
}

p {
  margin: 0;
  padding-bottom: 10px;
}

footer {
  position: relative;
}

.strikethrough {
  text-decoration: line-through;
}

/*Disable this on touch devices; they just don't get to see the tooltip*/
@media (hover: none) {
  abbr {
    border-bottom: none;
  }
}

/*Nice hack from
  https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
  to solve the 'clicking a #link pushes the content in to the header' issue.*/

a.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}

/*8-column grid for the majority of the site*/
.grid-8-column {
  /*Make it a grid*/
  display: grid;
  /*With 8 columns*/
  grid-template-columns: repeat(8, 1fr);
}

.short-long-version-note {
  grid-column: 3 / span 4;
  font-size: 0.8em;
  background: lightgrey;
  padding: 7px 0px 5px 0px;
  margin-top: 5px;
  text-align: center;
}

/*Specify the header grid elements*/
  .header__your-name {
    grid-column: 2 / span 4;
    font-size: 2em;
  }

  .header__page-title {
    grid-column: 6 / span 2;
    justify-self: end;
    text-align: right;
    font-size: 1.6em;
  }

  .header__contact-details {
    grid-column: 2 / span 4;
    grid-row: 2 / span 1;
  }

  .header__location {
    grid-column: 6 / span 2;
    grid-row: 2 / span 1;
    justify-self: end;
    text-align: right;
    align-self: end;
  }

  .header__navigation {
    grid-column: 2 / span 6;
    padding-top: 10px;
    text-align: center;
    font-size: 0.8em;
  }

/*Specify the about me grid elements*/
  .about-me {
    /*Anything specific to the grid?*/
  }

  .about-me__content {
    grid-column: 2 / span 6;
    padding-top: 10px;
  }

  .about-me__content-left {
    grid-column: 2 / span 3;
    padding-top: 10px;
    margin-right: 10px;
  }

  .about-me__content-right {
    grid-column: 5 / span 3;
    padding-top: 10px;
    margin-left: 10px;
  }

/*Specify the main job listing grid elements*/
  .job-listing {
    /*Give each new job listing a bit of space at the top*/
    padding: 10px 0px 0px 0px;
  }

  .job-listing__year-in-margin {
    grid-column: 1 / span 1;
    font-size: 2em;
    font-style: italic;
    margin-left: 20px;
  }

  .job-listing__company-name {
    grid-column: 2 / span 3;
    font-size: 1.6em;
    /*Slight padding at the top to line it up with the year to its left*/
    padding-top: 4px;
  }

  .job-listing__company-name-note {
    font-size: 18px;
    font-style: italic;
    /*margin-left: 50px;*/
  }

  .job-listing__job-title {
    grid-column: 5 / span 3;
    font-size: 1.6em;
    font-weight: 700;
    /*Slight padding at the top to line it up with the year to its left*/
    padding-top: 4px;
    text-align: right;
  }

  .job-listing__last_column_filler {
    grid-column: 8 / span 1;
  }

  .job-listing__job-note {
    grid-column: 2 / span 7;
    /*background: green;*/
    font-size: 0.8em;
    font-style: italic;
    color: #444;
    float: top;
  }

  .job-listing__job-details {
    grid-column: 2 / span 6;
    padding-top: 10px;
  }

  .job-listing__job-details-last {
    grid-column: 2 / span 6;
    border-bottom: 1px dotted grey;
    padding-bottom: 20px;
  }

  .job-listing__full-width-description {
    grid-column: 2 / span 6;
    font-size: 1.6em;
    /*Slight padding at the top to line it up with the year to its left*/
    padding-top: 4px;
  }

/*Specify the education grid elements*/
  .education {
    /*Anything specific to the grid?*/
  }

  .education__content {
    grid-column: 2 / span 6;
    padding-top: 10px;
  }